@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
.navbar{
    margin-bottom: 0
}

.registration.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

.breadcrumb {
    padding: 0;
    background: #D4D4D4;
    list-style: none;
    overflow: hidden;
    margin: 0px 0px 20px 0px;
    border-radius: 0px;
}

.breadcrumb>li+li:before {
    padding: 0;
}

.breadcrumb li {
    float: left;
}

.breadcrumb li.active a {
    background: brown;
    /* fallback color */
    background: #ffc107;
}

.breadcrumb li.completed a {
    background: brown;
    /* fallback color */
    background: hsla(153, 57%, 51%, 1);
}

.breadcrumb li.active a:after {
    border-left: 30px solid #ffc107;
}

.breadcrumb li.completed a:after {
    border-left: 30px solid hsla(153, 57%, 51%, 1);
}

.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: block;
    float: left;
}

.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(0, 0%, 83%, 1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li:first-child a {
    padding-left: 15px;
}

.breadcrumb li a:hover {
    background: #ffc107;
}

.breadcrumb li a:hover:after {
    border-left-color: #ffc107 !important;
}

.well {
    border-radius: 0px;
}

.form-group.bday .birthmonth {
    padding-right: 3px;
}

.form-group.bday .birthday {
    padding-right: 3px;
    padding-left: 3px;
}

.form-group.bday .birthyear {
    padding-left: 3px;
}


/* GLOBAL STYLES
-------------------------------------------------- */


/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */


/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}


/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper> .container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}


/* Home Page with image
-------------------------------------------------- */


/* For the model's design */

.homepageModel {
    background: url('/img/teacher.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 500px;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    margin-bottom:0;
    max-width: 100%;
    max-height: 100%;
}


.fontHome{
    font-family: "Futura-PT",sans-serif;
    color: white;
}

.fontHeading{
    font-family: "Futura-PT",sans-serif;
    color: white!important;
    font-size: 60px;
}

.button-app{
    background-color: #57bb89;
    color: white;
    font-size: 20px;
}

.introHeading{
    padding-top: 120px;
}




/* MARKETING CONTENT
-------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing{
    background-color: #87B6A7;
    height: 370px;
    padding-top: 50px;
}

.column1{
    position: center;
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Requirements
------------------------- */
.requirement{
    height: 520px;
    background-color: #f5f5f5;

}
 .requirementHeading{
    padding-top: 30px;
    color: #5b656d;
 }

.heading{
    vertical-align: center;
}

.requirementsRow{
    padding-top: 60px;
}

.heading1{
    font-family: "Futura-PT",sans-serif;
    font-size: 25px;
    color: #5b656d;
}

.glyphicon-tags{
    color: #9370DB;
}

.glyphicon-calendar{
    color: #FF0000;
}

.glyphicon-random{
    color: #FFD700;
}

.glyphicon-briefcase{
    color: #3CB371;
}
 



/* Thin out the marketing headings */

/* Direction part
_________________________________________________ */
.direction{
    height: 450px;
}

.directionHeading{
    padding-top: 25px;
    color: #5b656d;
    padding-bottom: 20px;
}

.lowerDirectionHeading{
    color: #5b656d;
    font-family: "Futura-PT",sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    padding-top: 250px;
}


/* ApplyNow part
_________________________________________________ */
.applyNow{
    height: 220px;
    background-color: #f5f5f5;
}

.applyNowHeading{
    padding-top: 25px;
    color: #5b656d;
}

.applyNowSubHeading{
    color: #5b656d;
    font-family: "Futura-PT",sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
}


/* Footer
-------------------------------------------------- */
.footer{
    height: 100px;
    background-color: #2e2d2d;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        margin-top: 20px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}

.homeImage {
    background: url('../public/images/homeImage.jpg');
}